---
layout: default
---

<p>
    <small>
        更新于{% for date in page.updated_on %}<time datetime="{{ date }}">{{ date | date: "%Y年%m月%d日" }}</time>{% if forloop.last == false %}、{% endif %}{% endfor %}。
    </small>
</p>

{{ content }}

<nav>
    <ul>
        {% for item in site.data.toc %}
            {% if item.url == '/' %}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}↩</a></li>
            {% else %}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
     </ul>
</nav>
